@model Maelstorm.Models.ServiceResult
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Maelstorm</title>
</head>
<body>
    @Model.IsSuccesful
    @if (!Model.IsSuccesful)
    {
        <div>@string.Join(' ',Model.ErrorMessages)</div>
    }
</body>
</html>