<html>
<head>
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    <div class="row mrow">
        Начните пользоваться уже сейчас!
    </div>
    <div class="row text-center pt-3 pb-3 justify-content-center">
        <a href="#" class="downloadBlock col-3">
            <div>
                <img src="~/images/PC.png" class="d-block m-auto" />
                Скачать
            </div>
        </a>
        <a href="#" class="downloadBlock col-3">
            <div>
                <img src="~/images/Mobile.png" class="d-block m-auto" />
                Скачать
            </div>
        </a>
        <a href="/message/conversations" class="downloadBlock col-3">
            <div>
                <div>
                    <img src="~/images/Browser.png" class="d-block m-auto" />
                    Открыть в браузере
                </div>
            </div>
        </a>        
    </div>    
</body>
</html>