#mainConversationContainer{
    display:flex;
    width:90%;
}

.bgDark {
    background-color: #131313;
}

#dialogs {
    background-color: #202020;
    margin-right: 10px;
    color: white;
    width: 290px;
}

.conversation {
    padding: 10px;
    background-color: #191919;
    cursor: pointer;
    display:flex;
}

.conversationPhoto {
    background-color: red;
    min-width: 50px;
    min-height: 50px;    
    background-size: cover;
    border-radius:50%;

    background-position:center;
    background-size:80px;
    background-position-y:-15px;
}

.conversationPreview {
    white-space: nowrap;
    overflow: hidden;    
    padding-left: 10px;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}

#conversationInner {
    width: 670px;
    background-color: darkred;
}

.conversationText {
    width: 70%;
    overflow: hidden;
}

.conversationDate {    
    float: right;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-align:right;
}

#conversationInfo {    
    text-align: center;
    background-color: #2A2A2A;
    color: white;
    padding: 5px 0px 10px 0px;
}

#conversationStatus {
    font-size: 12px;
    color: #D32F2F;
}

.conversationMessage{
    display:flex;
}

.conversationMessages {
    background-color: #1D1D1D;
    height: 460px;
    padding: 0px 10px 0px 10px;
    overflow-y: scroll;
    padding-bottom: 10px;    
}

#conversationMessages::-webkit-scrollbar {
    width: 0 !important
}

#conversationSend {
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    align-items:center;
}

.messageBlock {
    display: flex;
}

.message {
    background-color: white;
    display: inline-block;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 5px;
    word-break:break-all;
    max-width:80%;
}

.authMes {
    justify-content: flex-end;
}

#messageTextBox {
    background: none;
    resize: none;
    border: none;
    padding: 5px 10px;
    width: 80%;
    height: 36px;
    color: white;
    border-bottom: 2px solid #D32F2F;
    margin: 0px 20px 0px 20px;
}

#messageSendBtn {
    background: none;
    border: none;
    background-image: url(/images/send.svg);    
    background-size: cover;
    height: 30px;
    width: 30px;
}

.status {
    margin-top: -3px;
    background-size: cover;
    width: 10px;
    height: 10px;
    float: right;
}