a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

.dark {
    background-color: #1E1E1E;
    color: white;
}

.mainContainer{
    height:90vh;
}