a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

.logoContainer {
    background-color: #D32F2F;
    color: white;
    margin-bottom:10px;
}

.mainContainer{
    height:90vh;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.hideScroll {
    -ms-overflow-style: none;
}

.invert {
    filter: invert(1);
}

.bg-darkness {
    background-color: #191919;
}

.rotate {
    transform: rotate(90deg);
}