<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/push.css" />
<link rel="stylesheet" href="~/css/user.css" />
<link rel="stylesheet" href="~/css/main.css" />
<div id="settingsPanel">
    <div id="settingsContainer">
        <div class="settingsBlock text-center position-relative">
            <div>
                Меню
            </div>
            <div id="settingsCloseBtn">
                🗙
            </div>
        </div>
        <div class="settingsBlock settingsContainer">
            <div class="settingsBlockTitle">
                Sessions
            </div>
            <div class="settingsBlockInner">
                <div id="sessions">
                    <div id="sessionsContainer">

                    </div>
                    <input type="button" id="loadSessions" class="btnLink" value="Reload">
                </div>
            </div>
        </div>
        <div class="settingsBlock invert">
            <div>
                <input type="button" value="Выйти" id="logoutButton" class="btnLink" />
            </div>
        </div>
    </div>    
</div>
<div id="loginForm" class="form">
    <div class="fLabel">
        Вход
    </div>
    <div id="loginErrorsContainer"></div>
    <div>
        <input type="text" id="login" class="fInput" />
    </div>
    <div>
        <input type="password" id="password" class="fInput" />
    </div>
    <div>
        <input type="button" id="loginBtn" value="Login" class="fInput" />
    </div>
    <div>
        <input type="button" id="openReg" value="Registration" class="btnLink" />
    </div>
</div>
<div id="regForm" class="form">
    <div class="fLabel">
        Регистрация
    </div>
    <div id="regErrorsContainer"></div>
    <div>
        <input type="text" id="regLogin" class="fInput" placeholder="login" />
    </div>
    <div>
        <input type="email" id="regEmail" class="fInput" placeholder="email" />
    </div>
    <div>
        <input type="password" id="regPassword" class="fInput" placeholder="password" />
    </div>
    <div>
        <input type="password" id="regPasswordConfirm" class="fInput" placeholder="repeat password" />
    </div>
    <div>
        <input type="button" id="regBtn" value="Registration" class="fInput" />
    </div>
    <div>
        <input type="button" id="openLogin" value="Login" class="btnLink" />
    </div>
</div>
<div class="siteInfo" id="disconnected">
    <div class="infoPict disconnectedPict">

    </div>
    <div class="infoText">
        Связь с сервером потеряна. Пожалуйста, попробуйте перезагрузить страницу.
    </div>
</div>
<div class="siteInfo" id="connecting">
    <div class="infoPict connectingPict">

    </div>
    <div class="infoText">
        Подключение...
    </div>
</div>
<div class="siteInfo" id="connected">
    <div class="infoPict connectedPict">

    </div>
    <div class="infoText">
        Подключено
    </div>
</div>
<div class="siteInfo" id="uploading">
    <div class="infoPict uploadingPict">

    </div>
    <div class="infoText">
        Получение данных с сервера...
    </div>
</div>

<div id="userSearchContainer">
    Искать:
    <input id="findUserValue" type="text" />
    <input type="button" id="findUserButton" value="Найти" />
</div>
<div id="findUserResults">

</div>
<div id="userFullInfoPanel">
    <div class="row">
        <div class="col">
            <div id="userInfoAvatar">

            </div>
        </div>
        <div class="col">
            <div id="userInfoNickname">

            </div>
            <div id="userInfoStatus">

            </div>
            <div id="userInfoOnlineStatus">

            </div>
        </div>
    </div>
    <input type="button" value="К диалогу" id="userInfoOpenDialog" />
    <input type="button" value="x" id="closeUserInfo" />
</div>

<!--Small device menu-->
<div class="row d-lg-none m-0">
    <div id="openDialogListBtn" class="col-sm-4 col-4 col-md-4 bg-dark-2 justify-center d-flex align-items-center justify-content-center py-2">
        <svg class="bi bi-view-list invert" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M3 4.5h10a2 2 0 012 2v3a2 2 0 01-2 2H3a2 2 0 01-2-2v-3a2 2 0 012-2zm0 1a1 1 0 00-1 1v3a1 1 0 001 1h10a1 1 0 001-1v-3a1 1 0 00-1-1H3zM1 2a.5.5 0 01.5-.5h13a.5.5 0 010 1h-13A.5.5 0 011 2zm0 12a.5.5 0 01.5-.5h13a.5.5 0 010 1h-13A.5.5 0 011 14z"
                  clip-rule="evenodd" />
        </svg>
    </div>
    <div id="openOpenedDialogBtn" class="col-sm-4 col-4 col-md-4 bg-dark-2 justify-center d-flex align-items-center justify-content-center py-2">
        <svg class="bi bi-chat invert" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M2.678 11.894a1 1 0 01.287.801 10.97 10.97 0 01-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 01.71-.074A8.06 8.06 0 008 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 01-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 00.244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.52.263-1.639.742-3.468 1.105z"
                  clip-rule="evenodd" />
        </svg>
    </div>
    <div class="col-sm-4 col-4 col-md-4 bg-dark-2 justify-center d-flex align-items-center justify-content-center py-2">
        <svg class="bi bi-search invert" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                  clip-rule="evenodd" />
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                  clip-rule="evenodd" />
        </svg>
    </div>
</div>
<!--main container-->
<div id="mainContainer" class="container-fluid container-lg pt-lg-2 pb-lg-4">
    <div class="row h-100">
        <div id="dialogListContainer" class="col-12 col-sm-12 col-md-12 col-lg-4 h-100 bg-dark-2 d-none d-lg-block">
            <div id="searchDialogContainer" class="row d-none d-lg-flex p-2 align-items-center bg-dark-2">
                <div class="col-auto col-lg-auto">
                    <svg class="bi bi-search invert" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                              clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                              clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="col pl-0">
                    <input type="text" class="bg-dark-2 search-input text-white">
                </div>
            </div>
            <ul id="dialogs" class="list-group y-scroll"></ul>
        </div>
        <div id="openedDialogContainer" class="col-12 col-sm-12 col-md-12 col-lg-8 h-100 bg-dark text-white p-0 d-flex flex-column justify-content-between">
            <div id="dialogInfoContainer" class="dialogInfo text-center pt-2 pb-1 bg-dark-2">
                <div id="dialogInfoTitle"></div>
                <div id="dialogInfoStatus"></div>
            </div>
            <div id="panelsInner" class="pt-2 pb-2 container-lg h-100 y-scroll bg-dark-3"></div>
            <div class="container-lg bg-dark-2">
                <div class="row p-2">
                    <input type="text" id="messageTextBox" class="form-control col col-sm col-md col-lg">
                    <button id="messageSendBtn" class="btn col-auto col-sm-auto col-md-auto col-lg-auto">
                        <svg class="bi bi-triangle rotate invert" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dark">

</div>
<script src="~/lib/fingerprint/fingerprint2.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/modules/objectModule.js"></script>
<script src="~/js/modules/dateModule.js"></script>
<script src="~/js/modules/formModule.js"></script>
<script src="~/js/modules/accountModule.js"></script>
<script src="~/js/modules/encodingModule.js"></script>
<script src="~/js/modules/cryptoModule.js"></script>
<script src="~/js/modules/dialogModule.js"></script>
<script src="~/js/models/dialog.js"></script>
<script src="~/js/modules/messageModule.js"></script>
<script src="~/js/modules/dialogsModule.js"></script>
<script src="~/js/modules/userModule.js"></script>
<script src="~/js/modules/sessionModule.js"></script>
<script src="~/js/modules/apiModule.js"></script>
<script src="~/js/modules/signalRModule.js"></script>
<script src="~/js/modules/settingsModule.js"></script>
<script src="~/js/main.js"></script>